<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NomeServidor" value="10.90.7.11" />
		<add key="Usuario" value="sis_dbc" />
		<add key="Senha" value="BemPromotora@199$" />
		<add key="Catalogo" value="DB_TIPIFICACAO" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>